#page-info {
  position: absolute;
  left: 555px;
  top: 124px;
  height: 56px;
  width: 530px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #495057;
}

#enq {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  position: absolute;
  width: 108px;
  height: 32px;
  left: 1193px;
  top: 385px;
  background: #ffffff;
  border: 1px solid #ff6d1c;
  border-radius: 4px 4px 0px 0px;
  transform: rotate(-90deg);

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: #ff6d1c;
}

#whatsapp {
  position: absolute;
  width: 50px;
  left: 35px;
  top: 540px;
}

#offshore-development {
  position: absolute;
  width: 70%;
  height: 736px;
  left: 140px;
  top: 224px;
  background: #f5f5f5;
  border-radius: 8px;
}

#offshore-development #title {
  position: absolute;
  width: 484px;
  height: 144px;
  left: 56px;
  top: 78px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

#title #orange {
  color: #ff6d1c;
}

#offshore-development #paragraph {
  position: absolute;
  width: 484px;
  height: 352px;
  left: 56px;
  top: 240px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

#offshore-development ul {
  position: absolute;
  width: 454px;
  height: 352px;
  left: 96px;
  top: 480px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

#offshore-development #button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  position: absolute;
  width: 107px;
  height: 32px;
  left: 56px;
  top: 632px;
  background: #ff6d1c;
  border-radius: 4px;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

#offshore-development img {
  position: absolute;
  right: -185px;
  top: 47px;
  border-radius: 4px;
}

#onsite-development {
  position: absolute;
  width: 70%;
  height: 736px;
  left: 240px;
  top: 1008px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

#onsite-development #title {
  position: absolute;
  width: 584px;
  height: 144px;
  left: 380px;
  top: 78px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

#onsite-development img {
  position: absolute;
  height: 655px;
  top: 40px;
  left: -185px;
  border-radius: 8px;
}

#onsite-development #paragraph {
  position: absolute;
  width: 484px;
  height: 352px;
  left: 380px;
  top: 243px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

#onsite-development ul {
  position: absolute;
  width: 454px;
  height: 352px;
  left: 420px;
  top: 480px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

#onsite-development #button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  position: absolute;
  width: 107px;
  height: 32px;
  left: 380px;
  top: 632px;
  background: #ff6d1c;
  border-radius: 4px;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  color: #ffffff;
}

#why-choose-us {
  position: absolute;
  top: 1856px;
  width: 100%;
  height: 736px;
  left: 0px;
  background: #ffece2;
  margin: 0;
  overflow: hidden;
}

#why-choose-us #background {
  position: absolute;
  right: 0px;
  top: -20px;
}

#why-choose-us #title {
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  position: absolute;
  width: 148px;
  height: 32px;
  left: 120px;
  top: 51px;
  background: #ff6d1c;
  border-radius: 4px;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

#why-choose-us #heading {
  position: absolute;
  width: 269px;
  height: 112px;
  left: 100px;
  top: 92px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: black;
  text-align: left;
}

#why-choose-us #topic {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: -20px;
}

#why-choose-us #paragraph {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #495057;
  height: 65px;
  overflow-wrap: break-word;
}

#why-choose-us #d-1 {
  position: absolute;
  top: 254px;
  left: 120px;
  width: 310px;
}

#why-choose-us #d-2 {
  position: absolute;
  top: 254px;
  left: 505px;
  width: 310px;
}

#why-choose-us #d-3 {
  position: absolute;
  top: 254px;
  left: 890px;
  width: 310px;
}

#why-choose-us #d-4 {
  position: absolute;
  top: 478px;
  left: 120px;
  width: 310px;
}

#why-choose-us #d-5 {
  position: absolute;
  top: 478px;
  left: 505px;
  width: 310px;
}

#why-choose-us #d-6 {
  position: absolute;
  top: 478px;
  left: 890px;
  width: 310px;
}

#ourClientsDev {
  top: 2700px;
}

.get-in-touch-form{
  position: absolute;
  top: 3200px;
}

.lady-pic{
  top: 3035px;
}

#footerDev {
  top: 3720px;
}
